<% provide(:title, "Single Facility") %>
<div id="content" class="interior">
  <a id="content" href="#content" class="sr-only">Content starts here.</a>
  <div class="splash">
    <div class="row">
      <div class="small-12 columns">
        <ul class="breadcrumbs" role="menubar" aria-label="Primary">
          <li class="active"><h2>Service And Facility Locator</h2></li>
        </ul>
      </div>
    </div>
  </div>
</div> 
<div class="section one">
    <div class="row">
        <div class="small-12 column">
            <h2 class="facility-name">
              <% if @facility.try(:official_station_name) %>
                <%= @facility.official_station_name %><br>
            <% else %>
                <%= @facility.location_descriptive_name_common_name %>
            <% end %>
            </h2>
        </div>
    </div>
    <div class="row">
          <div class="medium-4 columns details-map">
            <h6>How to Get Here</h6>
        <a target="_blank" href="https://www.google.com/maps/dir//<%= @facility.street_address %> <%= @facility.suite_building_number %> <%= @facility.city %> <%= @facility.state %> <%= @facility.zip_code %>">Driving Directions</a>
        <img src="https://api.mapbox.com/v4/mapbox.streets/pin-m-star+88c(<%= @facility.longitude %>,<%= @facility.latitude %>)/<%= @facility.longitude %>,<%= @facility.latitude %>,13/500x300.png?access_token=pk.eyJ1IjoiYXlhbGVsb2VociIsImEiOiJjaWtmdnA1MHAwMDN4dHdtMnBqbGR3djJxIn0.fuqVOKCu8mE-9IdxTa4R8g" alt="Static map image">
    </div>
      
  <div class="medium-4 columns column1">
      <h6>Facility Details</h6>
      <h5>Street Address:</h5>
      <p class="facility-details">
          <%= @facility.street_address %><br>
          <% if @facility.suite_building_number %>
            <%= @facility.suite_building_number %><br>
        <% else %>
    <!-- <p>No Suite Number</p> -->
        <% end %>
          <%= @facility.city %>, <%= @facility.state %> 
        <%= @facility.zip_code.length < 5 ? "0" + @facility.zip_code.to_s : @facility.zip_code%></p>
    <p><a href="#">Facility Website</a></p>
        <h5>Phone:</h5>
      <table>
       <tr> 
      <td class="facility-detail-label">Main Number:</td><td class="facility-detail-label">
        <%= @facility.station_phone_number[-1, 1] == 'x' ? @facility.station_phone_number.chomp('x') : @facility.station_phone_number %></td>
        </tr>
        <tr> 
      <td class="facility-detail-label">Fax:</td><td class="facility-detail-label">
        <%= @facility.station_fax_number[-1, 1] == 'x' ? @facility.station_fax_number.chomp('x') : @facility.station_fax_number %></td>
        </tr>
        <% if @facility.try(:after_hours_phone_number) %>
        <tr> 
      <td class="facility-detail-label">After Hours:</td><td class="facility-detail-label">
        <%= @facility.after_hours_phone_number[-1, 1] == 'x' ? @facility.after_hours_phone_number.chomp('x') : @facility.after_hours_phone_number %></td>
        </tr>
        <% end %>
        <% if @facility.try(:pharmacy_phone_number) %>
        <tr> 
      <td class="facility-detail-label">Pharmacy:</td><td class="facility-detail-label">
      <%= @facility.pharmacy_phone_number[-1, 1] == 'x' ? @facility.pharmacy_phone_number.chomp('x') : @facility.pharmacy_phone_number %></td>
      
        </tr>
        <% end %>
        <% if @facility.try(:enrollment_coordinator_phone_number) %>
        <tr> 
      <td class="facility-detail-label">Enrollment Coordinator:</td><td class="facility-detail-label">
        <%= @facility.enrollment_coordinator_phone_number[-1, 1] == 'x' ? @facility.enrollment_coordinator_phone_number.chomp('x') : @facility.enrollment_coordinator_phone_number %></td>
        </tr>
        <% end %>
        <% if @facility.try(:patient_advocate_phone_number) %>    
        <tr> 
      <td class="facility-detail-label">Patient Advocate:</td><td class="facility-detail-label">
        <%= @facility.patient_advocate_phone_number[-1, 1] == 'x' ? @facility.patient_advocate_phone_number.chomp('x') : @facility.patient_advocate_phone_number %></td>
          </tr>
          <% end %>
        </table>
      <p></p>
 
         <h5>Hours of Operation:</h5>

        <table>
          <tr>    
            <td  class="facility-detail-label">Monday:</td><td class="facility-detail-label"><%= @facility.monday_hours %></td>
          </tr>
          <tr> 
            <td  class="facility-detail-label">Tuesday:</td><td class="facility-detail-label"><%= @facility.tuesday_hours %></td>
          </tr>
          <tr> 
            <td  class="facility-detail-label">Wednesday:</td><td class="facility-detail-label"><%= @facility.wednesday_hours %></td>
          </tr>
          <tr> 
            <td  class="facility-detail-label">Thursday:</td><td class="facility-detail-label"><%= @facility.thursday_hours %></td>
          </tr>
          <tr> 
            <td  class="facility-detail-label">Friday:</td><td class="facility-detail-label"><%= @facility.friday_hours %></td>
          </tr>
          <tr> 
            <td  class="facility-detail-label">Saturday:</td><td class="facility-detail-label"><%= @facility.saturday_hours %></td>
          </tr>
          <tr> 
            <td class="facility-detail-label">Sunday:</td><td class="facility-detail-label"><%= @facility.sunday_hours %></td>
          </tr>
          <tr>
            <td colspan="2" class="hours_note"><span class="facility-detail-label"><b>Note:</b></br>&nbsp;</span><%= @facility.hours_note %></td>
          </tr>
       </table>
    </div>
    <div class="medium-4 columns clearfix column1">
    <h6>Services at this Facility</h6>
        <div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#tab1">Health</a></li>
        <li><a href="#tab2">Benefits</a></li>
    </ul>
 
    <div class="tab-content">
        <div id="tab1" class="tab active">
        <% @services_hash.each do | service_level_1, service_level_2_array | %>
      <div class="service-block">
              <span class="facility-details"><span class="l1-services"><%= service_level_1 %></span>

              <% service_level_2_array.each do | service_level_2 | %>
                <ul class="services-ul">
                  <li class="l2-service"><%= service_level_2 %></li>
                </ul>  
              <% end %>  
      </div>
      <% end %>
        </div>
 
        <div id="tab2" class="tab">
            <p>Alex, the benefits services go here.</p>
            
        </div>
 

    </div>
</div>
    </div>



    </div><!--EndRow-->
  </div><!--EndSection-->
